.input-wrapper{
    background-color: white;
    display: flex;
    flex: 1;
    align-items: center;
    border: 1px solid #1C1D21;
    border-radius: 5px;
}

input {
    background-color: transparent;
    border: none;   
    height: 100%;
    width: 100%;
    margin-left: 5px;
}

.search-button {
    background-color: #10DD5E;
    width: 12.5vw;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.parent {
    width: 100vw;
    padding-top: 1vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 0.8vw;
}